.calender {
    margin: 10px;
    display: flex;
    background-color: bisque;
    grid-template-columns: repeat(2, 200px);
    text-decoration: none;
    height: 50px;
    width: 450px;
}

.calender li {
    display: grid;
    margin: 20px;
    margin: 16px;
    font-size: 20px;
}

h1 {
    margin-left: 120px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-row-gap: 10px;
    justify-content: start;
    grid-template-rows: repeat(3, 5 0px);
}

.item-1 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.class1 {
    border: 5px solid pink;
    width: 500px;
}